* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, lightgreen, cyan);
  padding-top: 20px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchbar {
  width: 60%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
input {
  padding-left: 15px;
  width: 100%;
  height: 37px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.9rem;
  background-color: aliceblue;
  position: relative;
}

.search {
  height: 16px;
  width: 18px;
  background-color: aliceblue;
  padding: 9px;
  border-radius: 50%;
  cursor: pointer;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weathertype {
  margin-top: 10px;
  height: 150px;
  width: 150px;
}

.temp {
  font-size: 3rem;
  font-weight: 550;
}


.temp span{
  font-size: 4rem;
}

.location{
  font-size: 2.5rem;
  margin-bottom:50px;
  text-transform: capitalize;
}


.paramters{
  display: flex;
  width:60%;
  justify-content: space-around;
}

.climate,.wind{
  display: flex;
  gap:5px
}

.climateimg,.windimg{
  height:35px
}

.dataset{
  display:flex;
  flex-direction:column;
}

.climatevalue,.speedvalue{
  font-size: 1.3rem;
}

.image{
  padding-top:10px
}

