* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  color: lightgrey;
}

body::-webkit-scrollbar {
  width:0px
}

.container {
  display: flex;
}
.left {
  height: 100%;
  width: 20%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size:1rem;
  margin-right:3px;
  margin-top: 6px;
  color:whitesmoke
}

.right {
  height: 100%;
  width: 80%;
  margin: 5px;
  margin-left:3px;
  margin-top: 6px;
  background-color:#3d3a3a4e;
  border-radius: 5px;
  font-size: 1rem;
  padding-top:10px;
  display: flex;
  flex-direction: column;
  position: relative;
  height:97vh
}

.left .home {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  border-radius: 5px;
  background-color: #3d3a3a4e;
  margin-bottom: 3px;
}

.left .home i {
  font-size: 1.8rem;
  font-weight: 550;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


.left .home .item{
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 550;
}

.left .home .active{
  color:white
}


.spotify{
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}

.glow:hover{
  color:White;
  transition: all 0.15s ;
}

/* .spotify:hover{
  text-shadow: 0 0 20px white;
  transition: all 0.15s ;
} */

.library{
  padding:5px;
  background-color: #3d3a3a4e;
  color:whitesmoke;
}

.library .heading{
  width:90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:10px auto;
  margin-bottom:15px;
}

.library .heading div{
  display: flex;
  align-items: center;
  font-weight: 550;
}

.library .heading .lib{
  font-size: 1.4rem;
}
.library .library-content{
  height:200px;
  overflow-y: scroll;
}

.library .library-content::-webkit-scrollbar {
  width: 12px; 
  opacity: 0;
}

.library .library-content:hover::-webkit-scrollbar {
  width: 12px; 
  opacity: 1;
}

.library .library-content:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.771);
}

.library .playlist, .podcast{
  color:white;
  background-color: #6662624e;
  padding:15px;
  border-radius:5px;
  font-size: 1rem;
  margin-bottom:20px;
  font-weight: 550;
}

.library .playlist p, .podcast p{
  font-size: 0.9rem;
  line-height: 20px;
}



.library .playlistBtn, .podcastBtn{
  padding: 8px 12px;
  border:none;
  outline: none;
  border-radius: 30px;
  margin-top:15px;
  color:black;
  font-weight: 550;
  font-size: 0.8rem;
}


.right .top{
  display: flex;
  justify-content: space-between;
  width:96%;
  margin:0 auto;
  color:grey;
  margin-bottom:8px;
  align-items: center;
}

.right .top i{
  margin-top:5px;
  font-size: 1.8rem;
  background-color: black;
  border-radius: 50%;
  color:White;
  cursor: pointer;
}

.right .btns .signup{
  background-color: transparent;
  border: none;
  outline: none;
  color:lightgrey;
  font-weight: 550;
  margin-right: 15px;
}


.right .btns .login{
  background-color: white;
  border:none;
  color:black;
  padding:10px 15px;
  font-weight: 550;
  border-radius: 30px;
}

.right .btns .signup:hover{
  font-size: 0.95rem;
  color:white;
  cursor: pointer;
}


.right .btns .login:hover{
  cursor: pointer;
  font-size: 0.95rem;
}


.right .playlists{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-image:linear-gradient(to bottom,#302f2f4e,#0b0b0b );
  padding:10px;
  width:100%;
 
 
}

.right .playlists .top{
  display: flex;
  justify-content: space-between;
  color:White;
  align-items: center;
  margin-bottom:20px;
  width:95%;
}


.playlists .top h3{
  font-weight: 550;
}

.playlists .top p{
  font-size: 0.8rem;
  font-weight: 550;
}

.playlist-items{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  width:96%;
  margin:0 auto;
  max-height: 70vh;
  overflow-y: scroll;
  gap:10px;
 
}

.playlist-items::-webkit-scrollbar {
  width: 12px; 
  opacity: 0;
}

.playlist-items:hover::-webkit-scrollbar {
  width: 12px; 
  opacity: 1;
}

.playlist-items:hover::-webkit-scrollbar-thumb {
  background-color: #555; 
  border-radius: 10px;
  border: 3px solid #2e2e2e;
}

.playlist-items::-webkit-scrollbar-thumb:hover {
  background-color: #888; 
}

.playlist-items .item{
  display: flex;
  flex-direction: column;
  padding:10px;
  height:300px;
  position: relative;
 
}

.playlists .item img{
  width:100%;
  height:200px;
  margin-bottom:10px;
  object-fit: cover;
}

.playlists .item p{
  margin-top:5px;
  color:whitesmoke;
  font-size: 0.75rem;
  font-weight: 550;
}

.playlists .item h4{
  font-size: 0.85rem;
}

.playlist-items .item:hover{
  background-color: #3d3a3a4e;
  border-radius: 5px;
}

.playlist-items .item i{
  font-size: 2.3rem;
  background-color: #1fdf64;
  height:38px;
  width:35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:black;
  position: absolute;
  right:12px;
  bottom:85px;
  padding-left:3px;
  visibility: hidden;
  opacity: 0.5;
  cursor: pointer;
}


.playlist-items .item:hover i{
  visibility: visible;
  opacity: 1;
  bottom:112px;
  transition: all 0.15s ease;
}


.playlists .playbar{
  position: absolute;
  bottom:0;
  left:0;
  background-image: linear-gradient(to bottom,green,#1fdf64);
  background-color:#1fdf64;
  display: flex;
  width:100%;
  color:black;
  font-size:2.3rem;
  justify-content: center;
  align-items: center;
  min-height:60px
}

.left .library-content{
  margin-top:35px;
  height:300px
}

.left .library-content .song{
  width:85%;
  border:2px solid grey;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:8px;
  margin: 0 auto;
  color:lightgrey;
  border-radius:5px;
  margin-bottom: 10px;
  height:45px
}

.left .library-content .song .info{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:20px
}

.left .library-content .song .songDetails{
  display:flex;
  flex-direction: column;
  width:100px
}

.left .library-content .song p{
  font-size: 0.8rem;
}

.left .library-content .song i{
  font-size: 1.5rem;
}

.left .library-content .song .player{
  height:100%;
  display: flex;
  gap:5px;
  justify-content: center;
  align-items: center;
}
.left .library-content .active{
  color:green;
  border:2px solid green;
}

.left .library-content .song .close{
  font-size:1rem;
  font-weight: 550;
  cursor: pointer;
}