*{
  margin:0;
  padding:0;
}

body{
  height:100vh;
  width:100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: aliceblue;
}
.container{
  display:flex;
  background-color: aliceblue;
  align-items: center;
  box-shadow: 6px 6px 8px rgba(0,0,0,0.19),6px 6px 8px rgba(255,255,255,0.7);
  padding:8px;
  border-radius: 25px;
  width:50%;
  justify-content: space-between;
  transition: all 0.5s linear;
}

img{
  height:30px;
  width:30px;
  cursor: pointer;
  transition: all 0.15s linear;
  transition-delay: 0.15s;
} 

input{
  width:75%;
  height:100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color:grey;
  transition: all 0.3s linear;
  transition-delay: 0.15s;
}

.active.container{
  width:4%
}

.active .mic,.active input{
  visibility: none;
  width:0%
}