*{
  padding:0;
  margin:0;
}
body{
  height: 100vh;
  width:100vw;
  box-sizing: border-box;
  background-color: black;
}

span{
  background:url('https://cdn4.iconfinder.com/data/icons/fat-face/10'
  height:100px;
  width:100px;
  position: absolute;
  background-size: cover;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
  animation: animate 6s linear;
}


@keyframes animate {
  0% {
    background:url('https://cdn4.iconfinder.com/data/icons/fat-face/100/Unamused-64.png');
    transform: translate(-50%, -50%);
    opacity:1;
    filter:hue-rotate(0)
  }
  
  100%{
    background:url('https://cdn4.iconfinder.com/data/icons/fat-face/100/Sobbing-512.png');
    transform: translate(-50%,-5000%);
    opacity: 0;
    filter:hue-rotate(360deg);
  }
}
